@media (max-width: 1196px) {
    // GALLERY
    .gallery-section .gallery-container {
        justify-content: center;
        
        .gallery-img {
            padding: 30px;
        }
    }
}

@media (max-width: 1180px) {
    .hero-img {
        right: -100px;
    }
  }

@media (max-width: 1075px) {
    .hero-img {
        right: -300px;
    }

    // CONTENT
    .content-section .content-box {

        .left-img {
            top: -100px;
            left: -30px;
        }

        .right-img {
            bottom: -100;
            right: -30px;
        }
    }

    .contact-section {
        width: 60%;
        position: relative;
        top: -400px;
      }
  }

@media (max-width: 975px) {
    .hero-img {
        right: -400px;
    }

        // CONTENT
        .content-section .content-box {

            .left-img {
                top: -40px;
                left: -30px;
            }
      }

    // BLOG
    .blog-wrapper {
        flex-direction: column;

        .about-aside {
            width: 100%;
            padding: 10px;
        }

        .blog-section {
            position: static;
            width: 100%;
            padding: 10px;

            .comment {
                padding-left: 20px;
            }

            .blog-form fieldset {
                padding-left: 50px;
            }
        }
    }

    // CONTACT
    .contact-form fieldset .fieldset-wrapper {
        padding: 50px;
    }
  }

@media (max-width: 770px) {
    .navigation {
        display: none;
    }

    .hamburger-menu i.fa  {
        display: block;
    }

    .hero-img {
        display: none;
    }

    .hero-text {
        width: 100%;

        h1 {
            text-align: center;
        }
    }

    // CONTENT
    .content-section .content-box {
        flex-direction: column;
        padding: 20px;

        .img-container {
            width: 100%;
        }

        .content-text-box {
            width: 100%;
        }
    }

    // ICON
    .icon-container .icon-flex  {
        width: 100%;
        padding: 20px;
    }

    // PROFILE
    .profile-container {
        flex-wrap: wrap;

        .profile-text-box {
            padding-top: 50px;
            padding-right: 20px;
        }
    }

       // BLOG
       .blog-wrapper {
        .about-aside {
            width: 100%;
            padding: 0;
        }

        .blog-section {
            padding: 0;
        }
    }

    // CONTACT
    .contact {
        flex-direction: column;

        .contact-section {
            position: static;
            width: 95%;
        }
    }

    .contact-form fieldset .fieldset-wrapper {
        padding: 20px;
    }
  }